table_name:
  migration_file_dir: ""
  source_db_params:
    host: "localhost"
    adapter: "mysql2"
    database: "mysql"
    user: "root"
    password: ""
  destination_db_params:
    host: 'localhost'
    port: 5439
    user: 'masteruser'
    password: ''
    dbname: 'dev'
  columns:
    day: day
    attribute: attr
